<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{partials/partials :: head}">

    <title>Home</title>

</head>

<body class="home-body">

    <div th:replace="~{partials/partials :: navbar}"></div>
<!--    Page Content    -->
    <div class="page-content">
        <div class="page-title">
            <h1>WeaveAndWeb</h1>
        </div>

<!--     Intro Paragraphs   -->
        <div class="row home-row-design intro-design">
            <div class="home-post page-text typewriter">
                <p class="line-space">I am a 12-year veteran in the USAF, a Full Stack Web Developer, and a Creative Writer.</p>
                <p class="line-space">This site serves primarily as a portfolio of my writing and Web Dev abilities.</p>
            </div>
        </div>

        <div class="container text-center">
            <div class="row home-row-design">
                <div class="col-md-8 home-col-design">First and foremost, my name is Chase Medford. I'm an aspiring writer and coder. If you don't know what aspiring means, it means that I am unemployed. 100's of applications, a lot of rejection letters, and not even one single interview so far. Winning! I have also wrote over 50 short stories, submitted about half of them to one publication or another, and have received some very nice rejection letters. Double Winning!</div>
                <div class="col-6 col-md-4 home-col-design">What kind of site is this? Did I come here just to read someone complain online? I mean, what else do you do on the internet?</div>
            </div>

            <div class="row home-row-design">
                <div class="col-6 col-md-4 home-col-design">This site will have some coding things, some writing things, maybe a some games, and a little artwork made by my friends because I can only draw stick figures and dicks.</div>
                <div class="col-6 col-md-4 home-col-design">I could have just filled these with some Ipsum Lorem, but why do that when I can just vomit some words on the page in about the same time as it would take to copy and paste some nonsense from one page to another?</div>
                <div class="col-6 col-md-4 home-col-design">I'm actually not sure what to fill this page in with just yet. I just got tired of writing the back-end code and decided to vent on the page a little.</div>
            </div>

            <div class="row home-row-design">
                <div class="col-6 home-col-design">Hobbies? I have them. Lots of video games, I'm constantly trying to learn new, for me, programming languages. I also have a pretty active social life. I play a lot of DnD too.</div>
                <div class="col-6 home-col-design">Here's a quick list of some DnD I play: GoT, DnD 5, DnD 3.5, Warhammer Fantasy, Aliens, Fallout, Hyperborea, BlackBirds, Pathfinder, Starfinder,Iron Kingdoms, Call of Cthulhu, and a few more that are escaping me at this moment.</div>
            </div>
        </div>
    </div>

</body>
</html>