<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{partials/partials :: head}">

    <title>Home</title>

</head>

<body class="home-body">

    <div th:replace="~{partials/partials :: navbar}"></div>
<!--    Page Content    -->
    <div class="page-content">
        <div class="page-title">
            <h1>WeaveAndWeb</h1>
        </div>

<!--     Intro Paragraphs   -->
        <div class="row home-row-design intro-design">
            <div class="home-post page-text typewriter">
                <p class="line-space">I am a 12-year veteran in the USAF, a Full Stack Web Developer, and a Creative Writer.</p>
                <p class="line-space">This site serves primarily as a portfolio of my writing and Web Dev abilities.</p>
            </div>
        </div>

        <div class="container text-center">
            <div class="row home-row-design">
                <div class="col-md-8 home-col-design">First and foremost, my name is Chase Medford. I'm an aspiring writer and coder. If you don't know what aspiring means, it means that I am unemployed.  </div>
                <div class="col-6 col-md-4 home-col-design">.col-6 .col-md-4</div>
            </div>

            <div class="row home-row-design">
                <div class="col-6 col-md-4 home-col-design">.col-6 .col-md-4</div>
                <div class="col-6 col-md-4 home-col-design">.col-6 .col-md-4</div>
                <div class="col-6 col-md-4 home-col-design">.col-6 .col-md-4</div>
            </div>

            <div class="row home-row-design">
                <div class="col-6 home-col-design">.col-6</div>
                <div class="col-6 home-col-design">.col-6</div>
            </div>
        </div>
    </div>

</body>
</html>